.parent{
  margin: 0px;
  padding: 0px;

}


.headingProducts{
  text-align: center;
  margin-top: 150px;
  font-size: 50px;
}

.productWithReviewsContainer{
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 140px;
}